@layer global {
  body {
    font-family: "Hanken Grotesk", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-feature-settings: 'clig' off, 'liga' off;

    background-color: var(--bg-color-1);
  }

  h1 {
    font-weight: 700;
  }

  h2 {
    font-weight: 700;
  }

}