@layer modules {
  /* The article-card module */
  .article-card {
    max-inline-size: 46rem;
    display: flex;
    flex-flow: row wrap;
    background-color: var(--bg-color-2);
    overflow: hidden;
    font-size: var(--normal);

    @media (width > 400px) {
      border-radius: 2rem;
      box-shadow: 0 30px 60px 0 rgb(61 108 236 / 15%);
    }

    @media (width > 1000px) {
      margin-block: 17.75rem;
    }
  }

  /* For the flex items */
  .article-card>* {
    flex: 1 1 15.625rem;
  }

  /* card__result */
  .card__result {
    --stack: 1.5rem;
    
    padding-block: 1.5rem 2.5rem;
    padding-inline: 1rem;
    border-radius: 0 0 2rem 2rem;
    background: linear-gradient(180deg, #D955FF 0%, #6943FF 0.01%, #2F2CE9 100%);
    box-shadow: 0 30px 60px 0 rgb(61 108 236 / 15%);

    @media (width > 400px) {
      --stack: 2.1875rem;
      
      padding-block: 2.375rem 3.4375rem;
      border-radius: 2rem;
    }
  }

  .card__result-title {
    font-size: var(--body);
    color: var(--text-color-1);
  }

  .card__result-circle {
    /* 140px -> 200px */
    max-inline-size: clamp(8.75rem, 4.8546rem + 16.6205vi, 12.5rem);
    aspect-ratio: 1 / 1;
    background-image: url("../images/oval.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    place-content: center;
  }

  .card__result-score {
    color: var(--text-color-2);
    font-size: var(--heading-xl);
    font-style: normal;
    font-weight: 800;
    line-height: 1.2857;

    @media (width > 400px) {
      line-height: 1;
    }
  }

  .card__result-unit {
    color: var(--text-color-1);
    font-weight: 700;
    opacity: 0.5168;
  }

  .card__result-content {
    @media (width > 400px) {
      --stack: 1.75rem;
    }
  }

  .card__result-text {
    color: var(--text-color-2);
    font-size: var(--heading-m);
    font-weight: 700;
  }

  .card__result-desc {
    max-inline-size: 16.25rem;
    margin-block-start: 0.5rem;
    color: var(--text-color-1);

    @media (width > 400px) {
      margin-block-start: 0.875rem;
    }
  }

  /* card__summary */
  .card__summary {
    --stack: 1.5rem;
    
    padding-block: 1.5rem 1.875rem;
    padding-inline: 1rem;

    @media (width > 400px) {
      --stack: 1.75rem;
      
      padding-block: 2.375rem 2.875rem;
    }
  }

  .card__summary>* {
    max-inline-size: min(18rem, calc(100% - 2rem));
    margin-inline: auto;

    @media (width < 520px) {
      max-inline-size: max(18rem, calc(100% - 2rem));
    }
  }

  .card__summary-title {
    color: var(--text-color-3);
    font-size: var(--body);
  }

  /* card__summary-list */
  .card__summary-list {
    --stack-small: 1rem;
  }

  .card__summary-item {
    padding-block: 1.0625rem 1.125rem;
    padding-inline: 1rem;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (width > 400px) {
      padding-block: 1.0625rem 1rem;
    }

    @media (width < 250px) {
      justify-content: center;
    }
  }

  /* The modifier classes for the card__summary-item  */
  .card__summary-item--bg-red {
    background: linear-gradient(0deg, rgb(255 255 255 / 95%) 0%, rgb(255 255 255 / 95%) 100%), #F55;
  }

  .card__summary-item--bg-yellow {
    background: linear-gradient(0deg, rgb(255 255 255 / 95%) 0%, rgb(255 255 255 / 95%) 100%), #FFB21E;
  }

  .card__summary-item--bg-green {
    background: linear-gradient(0deg, rgb(255 255 255 / 95%) 0%, rgb(255 255 255 / 95%) 100%), #00BB8F;
  }

  .card__summary-item--bg-blue {
    background: linear-gradient(0deg, rgb(255 255 255 / 95%) 0%, rgb(255 255 255 / 95%) 100%), #1125D6;
  }

  .card__summary-icon {
    aspect-ratio: 1 / 1;
  }

  .card__summary-name {
    margin-inline-start: 0.75rem;
  }

  .card__summary-name--color-red {
    color: var(--text-color-4);
  }

  .card__summary-name--color-yellow {
    color: var(--text-color-6);
  }

  .card__summary-name--color-green {
    color: var(--text-color-7);
  }

  .card__summary-name--color-blue {
    color: var(--text-color-8);
  }

  .card__summary-score {
    margin-inline-start: auto;
    color: var(--text-color-5);
    font-weight: 700;
  }

  .card__summary-unit {
    margin-inline-start: 0.5rem;
    color: var(--text-color-5);
    font-weight: 700;
    opacity: 0.5;
  }

  .button:link,
  .button:visited {
    padding-block: 1.0625rem 1rem;
    border-radius: 8rem;
    background-color: var(--bg-color-3);
    color: var(--text-color-2);
    font-size: 1.125rem;
    font-weight: 700;

    @media (width > 400px) {
      --stack: 2.5625rem;
    }
  }

  .button:hover,
  .button:active {
    background: linear-gradient(180deg, #D955FF 0%, #6943FF 0.01%, #2F2CE9 100%);
    box-shadow: 0 30px 60px 0 rgb(61 108 236 / 15%);
  }
}