@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

@layer theme {
  :root {
    /* Raw Colors */
    --white-100: hsla(0deg 0% 100% / 100%);
    --blue-20: hsla(241deg 100% 89% / 100%);
    --blue-50: hsla(234deg 85% 45% / 100%);
    --blue-70: hsla(223deg 30% 27% / 100%);
    --red-50: hsla(0deg 100% 67% / 100%);
    --green-50: hsla(166deg 100% 37% / 100%);
    --yellow-50: hsl(40deg 100% 56% / 100%);
    --red-10: hsla(0deg 100% 67% / 100%);
    --yellow-10: hsla(39deg 100% 56% / 100%);
    --green-10: hsla(166deg 100% 37% / 100%);
    --blue-10: hsla(234deg 85% 45% / 100%);
    --blue-05: hsla(220deg 100% 96% / 100%);
    
    /* Theme Colors */
    --text-color-1: var(--blue-20);
    --text-color-2: var(--white-100);
    --text-color-3: var(--blue-70);
    --text-color-4: var(--red-50);
    --text-color-5: var(--blue-70);
    --text-color-6: var(--yellow-50);
    --text-color-7: var(--green-50);
    --text-color-8: var(--blue-50);
    
    /* The background colors */
    --bg-color-1: var(--blue-05);
    --bg-color-2: var(--white-100);
    --bg-color-3: var(--blue-70);

    /* Font Sizes */
    
    /* For the mobile version - 375px
       For the desktop version - 736px
      */

    /* 16px -> 18px */
    --normal: clamp(1rem, 0.8702rem + 0.554vi, 1.125rem);

    /* 18px -> 24px */
    --body: clamp(1.125rem, 0.7355rem + 1.662vi, 1.5rem);

    /* 24px -> 32px */
    --heading-m: clamp(1.5rem, 0.9806rem + 2.2161vi, 2rem);

    /* 32px -> 56px */
    --heading-l: clamp(2rem, 0.4418rem + 6.6482vi, 3.5rem);

    /* 56px ->  72px */
    --heading-xl: clamp(3.5rem, 2.4612rem + 4.4321vi, 4.5rem);

    /* 72px ->  */
    --heading-xxl: 4.5rem;
  }
}