@layer utilities {
  .text-align\:center {
    text-align: center;
  }

  .margin-inline\:auto 
  {
    margin-inline: auto;
  }

  .stack>*+* 
  {
    margin-block-start: var(--stack);
  }

  .stack-small > * + * 
  {
    margin-block-start: var(--stack-small);
  }

}